
/*
Author: Aaron Banach
Date: 11/3/2024
Description: This is the main CSS code for my website
*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
     }

    .footerArea{
     margin-top: auto;  
    }
   
    h1 {
    color:royalblue;
   
    }
    div{
  
    }
    .p1{
    font-family: 'Times New Roman', Times, serif;
    }
    .p2{
    font-family: Arial, Helvetica, sans-serif;
    }
    .p3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans
    Unicode', Geneva, Verdana, sans-serif;
    }
    table, th, td {
    border: 1px solid;
    }
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    li {
    /*float: left;*/
    }
    li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    }

    .col {
    text-align: center;
    }

    navbar-expand-lg {
    background-color: darkorchid;  
    }

    #errorSignUp{
    color: red;
    font-weight: bold;
    
    }

    ul#myList{
       list-style-type: square;
       display: list-item;
    }

    p.source{
        color:gray;
    }

    



   
    